<!DOCTYPE html>

<div ng-controller="homeCtrl">
    <h1 class="md-accent">Home</h1>

    <div flex>
        <div ng-repeat="post in posts | orderBy:'date':true">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline md-accent">{{post.title}}</span>
                        <span class="md-subhead">{{post.date | date:'MMMM dd, yyyy'}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>{{post.content}}</p>
                </md-card-content>
                <md-card-footer>
                    <h3>{{post.author}}</h3>
                    <p>{{post.tags}} {{post.$id}}</p>
                </md-card-footer>
                <md-button class="md-accent md-raised" ui-sref="root.post({postId: post.$id})" aria-label="view-post">View Post</md-button>
                <md-button ng-show="Authenticated" class="md-accent md-raised" ui-sref="root.admin.editPost({postId: post.$id})" aria-label="edit-post">Edit Post</md-button>
            </md-card>
        </div>
    </div>



</div>
