<!DOCTYPE html>

<div ng-controller="navbarCtrl">
  <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <button type="button" class="btn btn-inverse navbar-btn">
      <a ui-sref="root.home">Home</a>
    </button>
    <button type="button" class="btn btn-inverse navbar-btn">
          <a ui-sref="root.login">Sign In</a>
    </button>
    <button type="button" class="btn btn-inverse navbar-btn">
      <a ui-sref="root.admin">Admin</a>
    </button>
  </div>
</nav>
</div>
