<!DOCTYPE html>

<div ng-controller="loginCtrl">
    <div ng-show="firebaseUser">
        <p>Hello, {{ firebaseUser.displayName }}</p>
        <button ng-click="auth.$signOut()">Sign Out</button>
    </div>
    <div ng-hide="firebaseUser">
        <p>Welcome, please sign in.</p>
        <div layout="column">
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="text" />
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="user.password" type="password" />
            </md-input-container>
        </div>
        <md-button class="md-accent md-raised" ng-click="auth.$signInWithEmailAndPassword(user.email, user.password)">Sign In</md-button>
    </div>
</div>
